.spinner-colors {
  --p-progressspinner-color-one: var(--p-green-500);
  --p-progressspinner-color-two: var(--p-yellow-600);
  --p-progressspinner-color-three: var(--p-blue-700);
  --p-progressspinner-color-four: var(--p-red-800);
}
