

node_modules
packages/backend/node_modules
packages/frontend/node_modules
packages/bubble-widget/node_modules


packages/backend/dist

packages/frontend/dist
packages/frontend/.angular

packages/bubble-widget/dist
packages/bubble-widget/.angular

packages/backend/uploads/*
packages/backend/public/*

db-data