/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';

markdown {
  ul,
  ol {
    padding-left: 1.5rem;
    margin-bottom: 2rem;

    &:has(> li > ul),
    &:has(> li > ol) {
      & > li > ul,
      & > li > ol {
        margin-bottom: 0;
      }
    }
  }
  ul > li {
    list-style-type: disc;
  }

  ol > li {
    list-style-type: decimal;
  }

  code {
    background-color: var(--p-surface-950);
    display: block;
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
  }

  *:has(code) {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  a {
    text-decoration: underline;
    color: var(--p-primary-color);
    font-style: italic;
  }
}
